/* General page styling */
body {
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif
}

/* Navigation bar header styling */
#food-llc-brand { 
    color: black;
    margin: 0;
    text-align: left;
    font-size: 2em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
#header-nav {
    background-color: #47810B;
    border-radius: 0;
    border: 0;
}

/* Collapsed navigation list styling */
#nav-list {
  background-color: #80BE40;
}
#nav-list a {
  color: black;
   text-align: center;
}
#nav-list a:hover {
  background: #8F2C0D;
}

/* Text section styling */
section#huge-section {
  background-color: #80BE40;
  margin: 15px;
  padding: 10px;
  font-size: 1.2em;
}
h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

