/* General page styling */
body {
  font-size: 16px;
  color: black;
  font-family: 'Indie Flower', cursive;
}

/* Navigation bar header styling */
#food-llc-brand { 
    color: black;
    margin: 0;
    text-align: left;
    font-size: 2em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
#header-nav {
    background-color: #47810B;
    border-radius: 0;
    border: 0;
}

/* Collapsed navigation list styling */
#nav-list {
  background-color: #80BE40;
}
#nav-list a {
  color: black;
   text-align: center;
}
#nav-list a:hover {
  background: #8F2C0D;
}

/* Text section styling */
section.menu-section {
  background-color: #80BE40;
  margin: 15px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid black; 
  border-radius: 20px;
}
h2 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-style: italic;
  text-decoration: underline;
}

.home-anchor, a:hover {
  text-align: center;
  width: 100%;
  color: black;
}

footer.menu-footer {
  font-size: 2em;
  color: black;
  text-align: center;
  background-color: #47810B;
  width: 100%;
}

